body {
	font-family: verdana;
	padding: 0px;
	margin: 0px;
	background-color: #e6e6e6;
}
.menu {
	background-color: #737373;
}
.menu .tabcontainer {
	padding: 5px;
}
.tabcontainer {
}
.tabcontainer .tab {
	background-color: #eee;
	color: #000;
	padding: 5px 10px;
	margin-left: 10px;
	float: left;
}
.menu .selected {
	background-color: #61adfa;
}
.menu .selected a {
	color: #fff;
}
.tab a {
	text-decoration: none;
	color: #444;
}
.close {
	background-color: #a00;
	margin-left: 5px;
	margin-bottom: 2px;
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	font-family: tahoma;
}
.close a {
	display: block;
	margin-left: 4px;
	color: #fff;
	font-size: 10px;
	line-height: 10px;
}
.fill {
	overflow: none;
	font-size: 1px;
	clear: both;
}
.left-panel {
	left: 0px;
	right: 300px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.right-panel {
	width: 300px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	padding: 5px 10px 10px 5px;
}
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.right-panel .panel {
	background-color: #fff;
}
.panel {
	position: relative;
	height: 100%;
}
.panel .profile {
	padding: 10px;
}
.border {
	border: 1px solid #ccc;
}
.container {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 500px;
}
.search-panel {
	padding: 5px 10px;
}
.search {
	width: 100%;
	font-size: 20px;
	border: 1px solid #ccc;
	padding: 5px 5px;
}
.chatlistcontainer {
	position: absolute;
	/*top: 83px;*/
	top: 33px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background-color: #fff;
}
.chatcontainer {
	position: absolute;
	top: 5px;
	left: 10px;
	bottom: 160px;
	right: 10px;
	background-color: #fff;
}
.chatinputcontainer {
	position: absolute;
	height: 140px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background-color: #fff;
}
.chatinput {
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 5px;
	height: 75px;
	border: 1px solid #ccc;
	resize: none;
}
.chatinputcontent {
	position: absolute;
	background-color: #fff;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	overflow: auto;
}
.chatinputcontent .button {
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	width: 100px;
	background-color: #61adfa;
	color: #fff;
}
.filler {
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0px;
}
.chatmenu {
	padding: 5px;
}
.chatmenu .selected {
	background-color: #fff !important;
	color: #000 !important;
}
.chatmenu .selected a {
	color: #000;
}
.chatmenu .tab {
	margin: 1px;
	margin-left: 15px;
	margin-right: -5px;
	background-color: #737373;
	color: #fff;
}
.chatmenu .tab a {
	color: #fff;
}
.chatlist {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	overflow: auto;
}
.chatwindow {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	overflow: auto;
}
.chatwindow .list {
	padding: 5px;
}
.list {
}
.entry {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	background-color: #f5f5f5;
	cursor: pointer;
}
.entry:hover {
	background-color: #b3d6fa;
}
.entry .name {
	font-size: 20px;
}
.entry .info {
	color: #999;
	font-size: 12px;
}
.entry .status {
	float: right;
	color: #999;
	font-size: 12px;
}
.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.round-top {
	border-radius: 5px 5px 0px 0px;
}
.buttonmenu {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
.buttonmenu .button {
	margin: auto;
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	width: 100%;
	background-color: #61adfa;
	color: #fff;
}
.profile .image {
	display: inline-block;
	width: 32px;
	height: 32px;
	color: #fff;
}
.profile .imageplaceholder {
	width: 32px;
	height: 32px;
	background-color: #ccc;
}
.profile .name {
	margin-left: 5px;
	font-size: 20px;
	vertical-align: middle;
	width: 180px;
	display: inline-block;
}
.editbutton {
	background-color: #61adfa;
	margin-top: 2px;
	float: right;
	font-size: 12px;
	color: #fff;
	padding: 5px;
}
.item .date {
	float: right;
	color: #999;
	font-size: 0.9em;
}
.item .name {
	color: #2c79c7;
}
.item .message {
	margin-left: 10px;
}
.mid-panel {
	text-align: center;
}
.button {
	cursor: pointer;
}
a {
	color: #3187dd;
	text-decoration: none;
}
a:hover {
	color: #71afed;
}
.loginout {
	display: block;
	float: right !important;
	background-color: #ccc;
	margin-right: 5px;
}
.loginout a {
	color: #555;
}
/* do not use any other styles except for hiding the panels */
.connecting-panel {
	display: block;
}
.reconnecting-panel, .connectfail-panel, .askname-panel, .askgroup-panel, .group-panel {
	display: none;
}