body {
	font-family: verdana;
}
.hidden {
	display:none;
}
.visible {
	display:block;
}
#chatdisplay {
	height: 300px;
	border:1px solid #ccc;
	overflow: auto;
	text-align: left;
	background-color: #fff;
	padding: 3px;
}
.panel {
	width: 500px;
	padding: 5px;
	background-color: #eee;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	margin: auto;
	text-align: center;
}
.panel p {
	margin: 0px;
}
.panel .submit-panel {
	margin: 5px;
}
#chatid {
	width: 100%;
}
#btn_chat {
	margin-left: 10px;
}